## **Ex. 1**

In [3]:
import pandas as pd
import numpy as np 
from sklearn.datasets import load_iris
# load the famous iris data
irisRaw = load_iris()
 
#Convert data to Panda package
# read iris.data into a pandas DataFrame (df), including column names
iris = pd.DataFrame(data= np.c_[irisRaw['data'], irisRaw['target']],
                     columns= irisRaw['feature_names'] + ['target'])

The dataset has 5 numerical colums, 150 rocord in each one. Last one (target) has three values: 0, 1, 2.

#### Using the 'head' method please display the first 5 rows

In [7]:
iris.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2     0.0
1                4.9               3.0  ...               0.2     0.0
2                4.7               3.2  ...               0.2     0.0
3                4.6               3.1  ...               0.2     0.0
4                5.0               3.6  ...               0.2     0.0

[5 rows x 5 columns]

In [11]:
print(f"Columns in dataset: {len(iris.columns)}")
print(f"Rows in dataset: {len(iris)}")

Columns in dataset: 5
Rows in dataset: 150

#### View basic information for individual columns. Use the 'describe' and 'groupby' methods

In [6]:
iris.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [14]:
iris.groupby("target").max()

        sepal length (cm)  ...  petal width (cm)
target                     ...
0.0                   5.8  ...               0.6
1.0                   7.0  ...               1.8
2.0                   7.9  ...               2.5

[3 rows x 4 columns]

In [15]:
iris.groupby("target").min()

        sepal length (cm)  ...  petal width (cm)
target                     ...
0.0                   4.3  ...               0.1
1.0                   4.9  ...               1.0
2.0                   4.9  ...               1.4

[3 rows x 4 columns]

#### Using “dropna” check if the database contains missing data

In [18]:
print(f"Nones in the dataset: {len(iris) - len(iris.dropna())}")

Nones in the dataset: 0

#### Sort the data in ascending order relative to the second column.

In [24]:
iris.sort_values(iris.columns[1], ascending=True)

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
60                 5.0               2.0  ...               1.0     1.0
62                 6.0               2.2  ...               1.0     1.0
119                6.0               2.2  ...               1.5     2.0
68                 6.2               2.2  ...               1.5     1.0
41                 4.5               2.3  ...               0.3     0.0
..                 ...               ...  ...               ...     ...
16                 5.4               3.9  ...               0.4     0.0
14                 5.8               4.0  ...               0.2     0.0
32                 5.2               4.1  ...               0.1     0.0
33                 5.5               4.2  ...               0.2     0.0
15                 5.7               4.4  ...               0.4     0.0

[150 rows x 5 columns]

#### Find the minimum and maximum petal length (column 3 - petal length). Give the index of each of these values.

In [28]:
print(f"Maximum value: {iris['petal length (cm)'].max()} with index: {iris['petal length (cm)'].idxmax()}")
print(f"Minimum value: {iris['petal length (cm)'].min()} with index: {iris['petal length (cm)'].idxmin()}")

Maximum value: 6.9 with index: 118
Minimum value: 1.0 with index: 22

#### Calculate the standard deviation for each column

In [29]:
iris.std()

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
target               0.819232
dtype: float64

#### Identify columns for which the length of the flower cup (sepal length) is greater than the average length (the whole set)

In [31]:
iris[iris['sepal length (cm)'] > iris['sepal length (cm)'].mean()]

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
50                 7.0               3.2  ...               1.4     1.0
51                 6.4               3.2  ...               1.5     1.0
52                 6.9               3.1  ...               1.5     1.0
54                 6.5               2.8  ...               1.5     1.0
56                 6.3               3.3  ...               1.6     1.0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3     2.0
146                6.3               2.5  ...               1.9     2.0
147                6.5               3.0  ...               2.0     2.0
148                6.2               3.4  ...               2.3     2.0
149                5.9               3.0  ...               1.8     2.0

[70 rows x 5 columns]